{% extends "base.html" %}
{% block title %}Index | {{ block.super }}{% endblock title %}
{% block content %}

<h1 class="title">{{ title }} is working!</h1>

{% for obj in object_list %}
    {#<a href='/posts/{{ obj.id }}'>{{ obj.title }}</a><br/>#}
    <a href='{% url "posts:post_detail" id=obj.id %}'>{{ obj.title }}</a><br>
    {#{% url "posts:post_detail" id=obj.id %}#}
    {#<a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a>#}
    {{ obj.content }}<br/>
    {{ obj.timestamp }}<br/>
    {{ obj.updated }}<br/>
    {{ obj.id }}<br/><br>
{% endfor %}

{% endblock content %}

    