{% extends "base.html" %}
{% block title %}{{ instance.title }} | {{ block.super }}{% endblock title %}
<style>
    {% block style %}
        h1 {
            color: red;
        }
    {% endblock style %}
</style>

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            {% if instance.image %}
            <img src="{{ instance.image.url }}" class="img-responsive">
            {% endif %}
        <h1>{{ title }}&nbsp;<small>{{ instance.timestamp }}</small></h1>
        {{ instance.content | linebreaks }}
        </div>
    </div>
</div>

{% endblock content %}   
  