
<div class="row"><!-- col-xs-12 col-sm-6 col-sm-offset-3 col-md-offset-4 -->
    <div class="col-sm-3 pull-right">
        <p class="lead text-center">{{ title }}</p>
        {% include "form.html" %}
    </div>
    <div class="col-sm-3">
        <p class="lead text-center">Build with Django &amp; Bootstrap</p>
    </div>
    <div class="col-sm-3">
        <p class="lead text-center">Created for starters of all kinds.</p>
    </div>
    <div class="col-sm-3">
        <p class="lead text-center">Always Open Source</p>
    </div>
</div>