<div class="row"><!-- col-xs-12 col-sm-6 col-sm-offset-3 col-md-offset-4 -->
    <div class="col-md-3 thumbnail text-center">
        <p class="lead text-center">Build with Django &amp; Bootstrap</p>
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQgl6XxRmGM9vvU6pMVm4ZFGhcM7qa3vQu4dpxmhY-prIMVFrnd" class="img-responsive">
    </div>
    <div class="col-md-3 thumbnail text-center">
        <p class="lead text-center">Created for starters.</p>
        <span class="fa-stack fa-lg fa-5x">
        <i class="fa fa-comment-o fa-stack-2x"></i>
        <i class="fa fa-bolt fa-stack-1x fa-spin" aria-hidden="true"></i></span>
    </div>
    <div class="col-md-3 thumbnail text-center">
        <p class="lead text-center">Always Open Source</p>
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQgl6XxRmGM9vvU6pMVm4ZFGhcM7qa3vQu4dpxmhY-prIMVFrnd" class="img-responsive">
    </div>
    <div class="col-md-3">
        <p class="lead text-center">{{ title }}</p>
        {% include "form.html" %}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </div>
</div>