nav.navbar.navbar-default {
    border: 1px solid #E01F7F;
}

.navbar-default .navbar-brand,.navbar-default .navbar-nav>li>a {
    color: #E01F7F;
}

button.btn {
    background-color: #E01F7F;
    color: #eee;
}
.navbar-default .navbar-toggle:hover {
    background-color: #E01F7F !important;
}
.navbar-default .navbar-toggle .icon-bar:hover {
    background-color: #fff;
}
#navbar form div.form-group input.form-control {
    border: 1px solid #E01F7F;
    color: #1FE01F;
}
input[type="text"]::-webkit-input-placeholder,input[type="password"]::-webkit-input-placeholder {
   color: #1FE01F;
}

input[type="text"]:-moz-placeholder,input[type="password"]::-webkit-input-placeholder { /* Firefox 18- */
   color: #1FE01F;  
}

input[type="text"]::-moz-placeholder,input[type="password"]::-webkit-input-placeholder {  /* Firefox 19+ */
   color: #1FE01F;  
}

input[type="text"]:-ms-input-placeholder,input[type="password"]::-webkit-input-placeholder {  
   color: #1FE01F;  
}